@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {
     margin:0;
    padding:0;
    overflow-x:hidden;
    background-color:#323232;
    transition:2s;
}

.menu {
    width:100%;
    position:relative;
    float:left;
    padding-top:20px;
    
}

.logo {
    transition:1s;
    opacity:0;
    margin-left:auto;
    margin-right:auto;
    background-image:url('logo.png');
    background-size:100%;
    height:300px;
    width:300px;
    
    position:relative;
}
.main {
     height:500px;
    width:100%;
    position:relative;
    float:left;
    
}
.bottom {
    opacity:0;
    transition:0.5s;
     background-color:#323232;
    position:relative;
    float:left;
    width:100%;
    text-align:center;
    padding-bottom:320px;
}
.point {
     font-family:'Vollkorn', Georgia, serif;
    font-size:2.2em;
    color:#323232;
    text-align:center;
}

.window {
    
    background-repeat:no-repeat;
    transition:1.2s;
    opacity:0;
    margin-top:300px;
     width: 700px;
    height: 500px;
    background-size:100%;
    background-image:url('windowEditor.png');
    margin-left:auto;
    margin-right:auto;
    position:relative;
    cursor:pointer;
    
}

.bottomPoint {
    padding-top:160px;
     font-family:'Vollkorn', Georgia, serif;
    font-size:2.2em;
    color:#f8f8f8;
    text-align:center;
}


.bottomPointSub {
    opacity:0.5;
    padding-top:10px;
     font-family:'Vollkorn', Georgia, serif;
    font-size:1.2em;
    color:#c1c1c1;
    text-align:center;
}

.bold {
    opacity:1;
    color:#f8f8f8;
    font-style:italic;

}

.button {
    cursor:pointer;
    margin-top:40px;
    margin-bottom:-80px;
    position:relative;
    padding:20px;
    left:-20;
    margin-left:40px;
    background-color:#f8f8f8;
    font-family:'Vollkorn',sans-serif;
    font-size:1.6em;
    border:0px;
    color:#323232;
    transition:0.5s;
}.button:hover {
    background-color: #ff855f;
    color:#b5644a; 
}.button:focus {
    background-color: #ff855f;
    color:#b5644a; 
}

.license {
        
}

.footer {
    float:left;
    width:100%;
    text-align:center;
    position:relative;
    padding-bottom:30px;
    padding-top:30px;
    background-color:#323232;
}

.license {
    font-family:helvetica,sans-serif;
    color:#f8f8f8;
    opacity:0.5;
    font-size:0.9em;
}




/*white: #f8f8f8 / black: #323232 / accents: #ff855f;


